:root {
  --white-100: #ffffff;
  --white-200: #f9f4f4;

  --gray-100: #d9d9d9;
  --gray-200: #c7b9b9;
  --gray-300: #ada5a5;

  --black-100: #3f3939;

  --brown-100: #a0522d;

  --orange-100: #ffa53e;
  --orange-200: #ff8800;
  --orange-300: #ab5b00;

  --yellow-100: #f8c23a;
  --yellow-200: #e2bc34;
  --yellow-300: #bf9f2e;

  --green-100: #439634;
  --green-200: #2b7c1e;

  --red-100: #db2323;
  --red-200: #b71414;

  --blue-violet-100: #5947ca;
  --blue-violet-200: #423694;
}
