:root {
  --white-100: #ffffff;
  --white-200: #F9F4F4;

  --gray-100: #D9D9D9;
  --gray-200: #C7B9B9;
  --gray-300: #ADA5A5;

  --black-100: #3F3939; 
  
  --brown-100: #A0522D;
  
  --orange-100: #FFA53E;
  --orange-200: #FF8800;
  --orange-300: #AB5B00;

  --yellow-100: #F8C23A;
  --yellow-200: #E2BC34;
  --yellow-300: #BF9F2E;

  --green-100: #439634;
  --green-200: #2B7C1E;
  
  --red-100: #DB2323;
  --red-200: #B71414;

  --blue-violet-100: #5947CA;
  --blue-violet-200: #423694;
}