@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 2.2rem;
  background-color: var(--white-200);
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
